<div class="content-blocks about hidex">
  <section class="content" id="about">
    <div class="block-content">
      <h2 class="block-title"> Gaby Pirela </h2>
      <div class="row">
        <div class="col-md-12 about-text" >

          <div class="post-thumbnail">
            <a class="open-post">
              <img src="images/foto.jpg" alt="RESPIRO INOCENCIA Y ME UNO AL SER"><br><br>
            </a>
          </div>
          <div class="hgroup">
            <h4><span>(Quien no soy... Mi Proyección)</span></h4>
            <h5>(Extracto de lo que se llama una biografía, una historia, también puede llamarse novela o vida)</h5>
          </div>
          <p>
            En esta conciencia terrenal he tenido la oportunidad de usar diferentes vestidos en numerosos personajes, María Gabriela Pérez Pirela fue el nombre que me pusieron al nacer, Pérez Pirela decían cuando estaba en la escuela, luego pase a ser Gabriela ya que estaba peleada con el María; al contraer matrimonio afloró otra personalidad Gabriela de Duránd, luego con el divorcio y la graduación  llamaban era a la Dra. María Gabriela Pérez, aunque los compañeros de trabajo sólo María Gabriela, eso, sin contar las diferentes formas que amigos y/o conocidos encontraron, tales como, Gaby, Gabyta, Gabo, Mary Gabo,  MaryGaby, Mary, Mariíta, MaGa, hasta llegar ahora a Abi y Abita; al mismo tiempo el Gaby se fue quedando, y por cuestiones de forma y de que en Estados Unidos toman al segundo apellido como si fuera el primero, resultó entonces: Gaby Pirela. [Todo esto, ayuda a corroborar que se pueden tener mil nombres… solo una existencia].
          </p>
          <p>
            Entre los diferentes aspectos que han resaltado en esta ‘realidad’ además de venezolana, hija, hermana, madre de 2, abuela de 3, etc., en la parte profesional está la graduación de Abogada y la especialización en Ventas producto de trabajar durante muchos años en esa área, pasando también por una Diplomado en Capacitación Docente que permitió también ejercer el Rol de Docente Universitaria.
          </p>
          <p>
            En el desarrollo personal se abrieron diferentes portales con sus respectivos maestros, fueron muchos los cursos, prácticas, terapias o técnicas que aprendí o experimente, entre ellas la Escuela Internacional de Autoestima de la mano de Bob Mandel y María Luisa Becerra, el Renacimiento con Tulibel L. y Nekane De Leniz - la Escuela para Terapeutas de Carlos Fraga, Terapia de Respuesta Espiritual con Verónica Hernández, además de la Meditación Vipasana, Almagrama, Reconexión, Constelaciones Familiares, Astrología, CRP entre otras cosas…
          </p>
          <p>
            En esa búsqueda incansable, encontré a la EMF Balancing Technique® y a Peggy Phoenix Dubro, a partir de allí la vida comenzó a tener un sentido diferente, la semilla de la Conciencia empezó a plantarse y así estuvo durante  más de 11 años de práctica ininterrumpida.  Luego, en el 2012 vino un receso inexplicable de 4 años, poco a poco todo comenzó a vestirse de gris, dándole paso al miedo, la confusión, el caos, a la tristeza y a la enfermedad. No obstante, podía sentir la lucha entre lo dual y el sentir de que había algo más, algo que siempre estaba inmutable, eterno, escuchaba la voz de la Conciencia-Verdad repitiendo y repitiendo: -Sigue, sigue, hay vida y lo demás es irreal….
          </p>

          <div class="post-thumbnail">
            <a class="open-post second-post"><br>
              <img src="images/emf_balance_symbol.jpg" alt="EMF Balancing Technique®"><br><br>
            </a>
          </div>
          <p>
            Luego de estos 4 años, estaba escrito que conocería a Jorge Lomar y Reyes, y por supuesto a la Escuela del Perdón –por consiguiente aprendí un poco acerca de la filosofía Advaita, o el No-Dualismo, surgió la profundización en el Curso de Milagros y por ende el experimentar de la Presencia se fue acentuando.
          </p> 
          <p>
            Dos años más tarde, y estando apenas iniciándome en el camino de la ‘No dualidad’, un huracán irrumpió inesperadamente (como todos los huracanes)   y acabó con todo lo existente para ese momento, llevándose a su paso, la pareja, el trabajo, las relaciones, el hogar, y hasta vivir la muerte física del padre de mis hijos, en fin… todo lo conocido se fue; dejando sólo espacios para el miedo, la incertidumbre, la inmensa soledad y un profundo silencio. Fue aquí donde la vivencia de la No Dualidad y la práctica constante de sus principios, así como del Curso de Milagros, sostuvieron a lo que No Soy para integrar y darle  espacio a que aflorara la Conciencia de Unidad y con ella, permitir que aflorara el verdadero Ser, a través de la experiencia del amor incondicional, la confianza, el soltar, el dejar fluir y por supuesto el maravilloso perdón.
          </p>

          <p>
            Hoy entiendo que el huracán no vino de afuera, fue una manifestación interna e inconsciente para abrir caminos a lo nuevo, para desmontar viejas creencias y patrones aprendidos. Hoy el agradecimiento por esta transformación radical, es infinito; llegó un nuevo amanecer a construir una nueva historia, de la mano con el Sentir y en la nueva Conciencia, y así elegir una y otra vez, por el Amor, la Libertad, la Comprensión, el Perdón y la Paz. Elegir Amar y Ser en todo momento, elegir cambiar de percepción, en fin… una completa despersonalización… que me lleva a sentir que…al parecer la búsqueda ha terminado!
          </p>
          <p>
            Aquí y ahora el sentir va afianzándose, con la práctica del Perdón, el Agradecimiento y la Entrega.  Amar y Ser se fusionan en un espacio atemporal, convirtiéndose en parte de la energía vital, con ello la sensación de inocencia y  paz se presentan cada vez con mayor frecuencia.
            </p>

          <p>
            Hay un nuevo convencimiento desde lo interno, lo profundo, en donde la Misión de vida deja de tener importancia, sólo existe el instante Presente y con él la vida es un constante fluir, con el deseo de vivenciar cada momento, sin juicios, experimentando el suceder de la vida tal y como se va presentando… en resumen, la Misión está centrada en  Vivir!  [y vivir de ésta manera es lo más parecido a la Libertad que he conocido]. 
          </p>

          <p>
            Y así, aquí y ahora, por aquí ando y por aquí voy…en la maravillosa ciudad de Jacksonville donde se encuentra todo eso que no soy, conviviendo con los diferentes papeles que represento en esta nueva ‘realidad’ como Coordinadora de Ventas en una empresa de Medios, con el voluntariado para la comunidad y con las Facilitaciones del Perdón, Equilibrio de Energía y las Charlas ToBe; siempre bajo la mirada permanente y omnipresente de lo que verdaderamente Es y que no tiene definición, el Ser que abarca todo y el todo que Es, que siempre acompaña… con ninguna certeza de nada externo, pero que internamente me invita a confiar y a seguir, sin importar cuál será la próxima parada en esta aventura llamada Vida.
          </p>
          <p>
            Y aquí sigo y aquí voy… ahora invitándote a experimentar esta ‘Realidad’ desde una nueva conciencia… no somos dos, somos l@ mism@ y vamos siempre junt@s!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- <img class="sign" src="images/signature.png" alt="" /> -->
          <h4>Gaby Pirela</h4>
        </div>
      </div>
    </div>
  </section>
</div>