<div class="content-blocks blog hidex">
  <section class="content">
    <div class="block-content">
      <h3 class="block-title">Exprésate</h3>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <ul class="testimonials">
          <li>
            <img src="images/fotogaby.jpg" alt="">
            <blockquote>Esta sección está en construcción. Te invito a disfrutar de esta práctica
            </blockquote>
          </li>
        </ul>
  
          <div class="post">
            <div class="post-title">
              <a class="open-post" href="post-single.html"><h2>RESPIRO INOCENCIA Y ME UNO AL SER</h2></a>
              <p class="post-info">
                <span class="post-author">Por Gaby Pirela</span>
              </p>
            </div>
            <div class="post-thumbnail">
              <a class="open-post">
                <img src="images/blog/pexels-photo-597324.jpeg" alt="RESPIRO INOCENCIA Y ME UNO AL SER">
              </a>
            </div>
            
            <div class="post-body">
              <h4 class="post-info ">Objetivo de la práctica:</h4> 

              <p>Ayudar  a conectar con la verdad de la inocencia, con el ser.
                Propiciar un cambio en la percepcion, llevando la atencion a profundizar en el sentir acompanado y en que se produzca una apertura, permitiendo experimentar vivencialmente cada experiencia desde el corazon radiante y con la conciencia de inocencia y perdon.</p>
            </div>
            <div class="post-body">
              <h4 class="post-info ">Situación de aplicación: </h4>

              <p>El ámbito de aplicación es general. Puede ser utilizado a manera de meditación breve  o enfoque de conciencia, buscando despertar de la falsa idea de culpa y logrando la conexión con el sentir.</p>
              <p>Se recomienda primeramente hacer una lectura consciente y despues releerlo, tomando pausas en cada párrafo, repitiendo y memorizando la frase estabilizadora, acompañada de la lectura con la respiración enfocada y pausada.</p>

              <ul>
                <li>Frecuencia diaria: 2 veces por día.</li>
                <li>Mañana y noche preferiblemente.</li>
                <li>Recomendación específica: Durante una semana.</li>
              </ul>

            </div>

            <div class="post-body poem">
              <h4 class="post-info"> RESPIRO INOCENCIA Y ME UNO AL SER</h4>
            
              <p>En el diario suceder,
                el eco de un lugar vacio
                ya no atormenta los sentidos.
                Se ha llenado con lo unico que es… Presencia pura
                Respiro…
                <i>Respiro inocencia y me uno al ser.</i></p>

              <p>La culpa solo existe en la dualidad de la mente.
                La verdad es inocente.
                No hay dos.
                Respiro
                <i>Respiro inocencia y me uno al ser.</i></p>

              <p>Siento union, siento paz, amor.
                La verdad que es.
                Aunque a veces el olvido de nuevo aparezca y me vuelva a perder…
                Regreso, me centro y respiro…
                <i>Respiro inocencia y me uno al ser.</i></p>


              <p>Otras veces siento que la culpa persiste.
                No encuentro el camino,
                me siento perdido(a), y entonces… otra vez lo puedo ver… Respiro..
                <i>Respiro inocencia y me uno al ser.</i></p>

              <p>Y asi respirando,
                elijo la voluntad de sanar, de la paz y del perdon.
                No hay error.
                Solo inocencia pura,
                Una sola existencia. Respiro…
                <i>Respiro inocencia y me uno al ser.</i></p>


              <p>Con cada respiracion siento la emocion que se transforma,
                Siento inocencia.
                Respiro y sigo respirando.
                Siento la vida misma manifestandose. Respiro…
                <i>Respiro inocencia y me uno al ser.</i></p>

              <p>Y si me vuelvo a perder?
                Respiro otra vez,
                Respiro inocencia, me uno al ser.</p>

              <p>Siempre respirando esa inocencia presente,
                en la unidad de la mente
                y aqui sigo… y asi voy…
                Sintiendo paz, perdon.
                Soy inocente, eres inocente.
                No hay dos. Respiro…
                <i>Respiro inocencia y me uno al ser.</i></p>

              <p>Gracias..Gracias…Gracias…</p>
              <p><b>Con amor Gaby</b></p>
              <div class="service-icon">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>