<div class="content-blocks contact hidex">
  <section class="content">
    <div class="block-content">
      <h3 class="block-title">CONTACTA-NOS</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="contact-content ">
            <div class="contact-icon">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="contact-details">
              <h5>Dirección</h5>
              <p>Jacksonville, Florida</p>
            </div>
          </div>
          <div class="contact-content ">
            <div class="contact-icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="contact-details">
              <h5>Llámame</h5>
              <p> +1 (407) 480-0548</p>
            </div>
          </div>
          <div class="contact-content ">
            <div class="contact-icon">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="contact-details">
              <h5>Correo Electrónico</h5>
              <p>gabyppirela@gmail.com</p>
            </div>
          </div>
        </div>
        <!--div class="col-md-6">
          <form method="POST" action="php/contact_me.php" id="formcontactus" class="">
            <div class="form-group">
              <input name="name" type="text" class="form-control requiretop" placeholder="* Your Name" />
            </div>
            <div class="form-group">
              <input name="email" type="email" class="form-control requiretop" placeholder="* Your Email" />
            </div>
            <div class="form-group">
              <textarea rows="6" name="message" class="form-control requiretop" placeholder="* Your Message"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-dark selected">Send Message</button>
            </div>
          </form>
        </div-->
      </div>
    </div>
  </section>
</div>