<div class="inline-menu-container hidex">
  <ul class="inline-menu">
    <li class="about menu-item">Quien no soy</li>
    <li class="portfolio menu-item">Atrévete a Amar y Ser</li>
    <li class="blog menu-item">Blog</li>
    <li class="contact menu-item">Contacta-Nos</li>
    <li id="close">&times;</li>
  </ul>
</div>