<div class="preloader">
  <div class="spinner">
    <strong>
      Loading...<i class="fa-li fa fa-spinner fa-spin"></i>
    </strong>
  </div>
</div>
<div class="preloader-left"></div>
<div class="preloader-right"></div>
