<div class="content-blocks portfolio hidex">
  <section class="content" id="portfolio">
    <div class="block-content">
    <h3 class="block-title">Atrévete a Amar y Ser</h3>     
    <div class="row">
      <div class="col-md-12">
        <ul class="testimonials">
          <li>
           <img src="https://i.pinimg.com/736x/2b/4d/50/2b4d501e983d643a91be9c88758340ba--kriya-yoga-yoga-meditation.jpg" alt="">
           <blockquote>Cuando superes los límites del amor individual y egoísta, escucharás el Único Gran Amor que arde eterno en el altar inmortal y universal de todos los corazones
             <p class="quote"><span>Paramhansa Yogananda</span></p>
           </blockquote>
          </li>
          <li>
           <blockquote>
             Atrévete a descubrir la vida que esta  oculta detrás de la ‘realidad’ que percibes y creas.
           </blockquote>
          </li>
          <li>
           <blockquote>
             Atrévete a cambiar tu percepción acerca de los opuestos.. verdad-mentira, amor-odio-, enfermedad-salud, culpa-perdón.
           </blockquote>
          </li>
          <li>
           <blockquote>
             Atrévete a transitar nuevos caminos de conciencia y a despertar desde el amor el verdadero ser que está en ti.
           </blockquote>
          </li>
          <li>
           <blockquote>
             Atrévete a Amar y Ser!
           </blockquote>
          </li>
        </ul>           
      </div>
    </div>
    <h3 class="block-title">SERVICIOS</h3>
    
    <div class="servicio">
      <div class="row">
        <div class="col-md-12">
          <h3>FACILITACION INDIVIDUAL DEL PERDON</h3>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4>DESCRIPCIÓN</h4>
          <p>“La primera pregunta más importante que hacer es: ¿Quieres? Entonces es posible.”</p>
          <p>En estas consultas profundizaremos sobre el  Perdón no-dual, (nueva enseñanza para permitir  y aceptar  cada instante tal como se presenta, sin obstáculos ni objeciones)
          </p>
          <p>Se comienza con el deseo inicial de ‘dar un salto’, elegir un cambio de percepción que lleve a la comprensión de la Conciencia de unidad.
          </p>
        </div>
        <div class="col-md-6">
          <h4>Beneficios</h4>
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <ul class="icon-list">
                <li>Vivenciar desde la aceptación de lo que es.</li>
                <li>Experimentar estados de paz profunda.</li>
                <li>Disfrutar de un Nuevo sentido de libertad.</li>
                <li>Acoger el sentir.</li>
                <li>Aprender una nueva de relación con lo que sucede.
                </li>
                <li>Abrirse a una escucha interior más profunda, más próxima al corazón que al raciocinio. </li>
                <li>Practicar el silencio.</li>
                <li>Incrementar la capacidad de observar.</li>
                <li>Experimentar la inocencia que eres.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <ul class="testimonials">
        <li>
          <img src="https://i.pinimg.com/736x/52/87/bf/5287bf842b7bed0742a40d4d083f44ee--field-of-sunflowers-sunflower-fields.jpg" alt="">
          <blockquote>EL PERDÓN LLEGA CUANDO RECONOCES QUE NUNCA HUBO NADA QUE PERDONAR, SINO QUE HABÍA ALGO QUE COMPRENDER
          </blockquote>
        </li>
      </ul>
      <div class="row">
        <div class="col-md-12">
          Si deseas más información sigue leyendo… <br>
          <div class="post-thumbnail">
            <a class="open-post">
              <img src="images/logo.jpg" >
            </a>
          </div>
          <p>
            La facilitación del Perdón es un dulce proceso de acompañamiento, que va devolviendo a la persona el poder y la responsabilidad sobre la manera que está afrontando las experiencias de su vida.
          </p>
          <p>A través del proceso de Facilitación, la persona se va poniendo en contacto con los obstáculos, creencias y emociones que le están impidiendo vivir los escenarios de su vida desde la paz, la libertad y la comprensión, que son su verdadera naturaleza.</p>
          <p>Este amable proceso va paulatinamente liberando a la mente del sufrimiento y elevando la conciencia a otro estado, donde comprender, perdonar y amar sin excepción, es posible. La aplicación del Perdón a tu vida cotidiana y en tus relaciones es lo que hará que tu Conciencia se expanda y que la Comprensión llegue a tu mente.</p>
          <p>Cualquier conflicto puede “verse” vivirse de otra manera, ya que el sufrimiento solo viene dado por la forma errónea programada de percibir e interpretar una situación.</p>
          <p>Cada experiencia de Perdón constituye, por tanto, un cambio de percepción, entendido como un cambio en la manera de pensar, de interpretar y de sentir una situación determinada o la relación con una persona. <br><br></p>
          <p><b>A quién se dirigen:</b><br>
            Las sesiones del Perdón no-dual van en gran parte dirigidas a quienes deseen dar un paso más amplio hacia la Paz y la Felicidad mental, y encontrar un sentido más profundo y verdadero a su vida.<br><br>
          </p>           
        </div>
      </div>
      <h4 class="text-center">¿Qué herramientas utilizamos?</h4>
      <div class="row">
        <div class="col-md-4 col-sm-6 service">
          <div class="service-icon">
           <i class=" fa fa-circle-thin"></i>
          </div>
          <h4>Prácticas Internas</h4>
          <p>Son procesos de tipo meditativo que te llevan a diferentes estados de Conciencia. Las prácticas internas son escenarios para sentir. Con las prácticas interiores nos acercamos al aspecto experiencial del Perdón.</p>
        </div>
        <div class="col-md-4 col-sm-6 service">
          <div class="service-icon">
           <i class="fa fa-comment-o "></i>
          </div>
          <h4>Enfoques de Conciencia</h4>
          <p>Nos ayudan a entrenarnos en esta “nueva” mentalidad de paz. Estos enfoques son un modo de darse cuenta de algo que antes no veíamos, permitiendo que la comprensión suceda en la mente, alejada de las argumentaciones programadas.</p>
        </div>
        <div class="col-md-4 col-sm-6 service">
          <div class="service-icon">
           <i class="fa fa-eye "></i>
          </div>
          <h4>Observación</h4>
          <p>Ejercicios de observación y tomas de conciencia. Sirven para comprender con mayor profundidad algunos de los conceptos del Perdón y preparar una actitud en el proceso de aprendizaje.</p>
        </div>
      </div>
    </div>
    <div class="servicio">
      <div class="row">
        <div class="col-md-12"><br>
          <h3>FACILITACION DE EQUIBRIO DE ENERGIAS</h3>
          <h3>EMF Balancing Technique®<br></h3>
          <hr>           
        </div>        
      </div>
      <ul class="testimonials">
        <li>
         <img src="http://ak2.picdn.net/shutterstock/videos/9725102/thumb/1.jpg" alt="">
         <blockquote> &nbsp;Siente la energía y permite que te guíe a tu verdad mas profunda
         </blockquote>
        </li>
      </ul>
      <div class="row">
        <div class="col-md-6">
          <h4>Descripción</h4>
          <p>Es una técnica que busca calibrar todo lo que está en desequilibrio en todo</p>
          <p>Nos permite sostener más de la energía pura que somos al calibrarnos a nuevas dinámicas de energía. El flujo energético se acelera y libera todo lo que estaba estancado: aquello que retenemos inconscientemente, resoluciones que no tomamos, potenciales dormidos, cargas emocionales innecesarias, etc., para incrementar la conexión entre todos los centros de energía y así irradiar mayor luz y amor.</p>
          <p>Existen 13 fases de esta técnica. En cada fase, más allá de trabajar el equilibrio de todo tu Entramado, se especializa en una parte de él.</p>
        </div>
        <div class="col-md-6">
          <h4>Beneficios</h4>
          <ul class="icon-list">
            <li>Los beneficios son ilimitados conforme comenzamos a sostener una mayor carga energética, se va despertando la comprensión y comenzamos a expresarnos desde un nuevo nivel.</li>
            <li>Es un despertar a una nueva conciencia.</li>
            <li>Entendemos el lenguaje energético.</li>
            <li>Experiencias de paz profunda. </li>
            <li>Iniciar un proceso único de transformación, de conexión y de toma de conciencia.
            </li>
          </ul>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h4>A QUIEN VA DIRIGIDO</h4>
          <p>A todos! Ninos, Jovenes, Adultos.</p>
          <br>
          <p>El trabajo fortalece a cualquiera que quiera continuar creciendo, desde el novicio en el camino hasta el sabio maduro que sabe que el viaje es eterno y el crecimiento ilimitado. 
          </p>
        </div>
        <div class="col-md-6">
          <h4>MÉTODO</h4>
          <p>
            Acostado en una camilla experimentaras la sensación del ‘como si’ estas recibiendo un masaje corporal, pero, sin el toque físico; mientras el profesional realiza una serie de elegantes y precisos movimientos parecidos al Taï-Chi alrededor de tu cuerpo. Los movimientos son en una secuencia definida y van acompañados de intenciones verbales.
          </p>
          <p>Dependiendo de la Fase, el tiempo de duración varía entre 45 min a una hora y media.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-md-12">
        <h4>¿Interesad@ en trabajar juntos?</h4>
        <a class="btn lowercase">gabyppirela@gmail.com</a>
        <br/>
      </div>
    </div>
  </section>
</div>