<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="light">
    {% include loader.html %}
    {% include header.html %}
    <section class="home">
      <div class="container">
        <div class="name-block">
          <div class="name-block-container">
            <h1><img src="images/logo.png" alt="Gaby Pirela"></h1>
            <h2>Practicante de la filosofía No Dual </h2>
            <h3>
              Facilitadora de Procesos de Perdón y reconocimiento de la Presencia.
            </h3>
            <h3>
              Profesional y Maestra de Equibrio de Energías (Emf Balancing Technique®)
            </h3>
            <a class="cumbre-img" href="https://go.hotmart.com/D6631309J?ap=5e65" target="_blank">
              <img src="https://cumbredelperdon.com/wp-content/uploads/2017/08/cumbre_del_perdon_header.png" alt="Cumbre del Perdón">
            </a>
            <ul class="social">
              <li><a href="https://www.facebook.com/gabyperezpirela" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/mariagabrielapp" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/mar%C3%ADa-gabriela-p%C3%A9rez-pirela-gaby-0ba064128/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="menu-blocks">
          <div class="about-block menu-block">
            <div class="about-block-container">
              <h2 class="about menu-item">Quien no soy</h2>
            </div>
          </div>
          <div class="portfolio-block menu-block">
            <div class="portfolio-block-container">
              <h2 class="portfolio menu-item">Atrévete a Amar y Ser</h2>
            </div>
          </div>
          <div class="blog-block menu-block">
            <div class="blog-block-container">
              <h2 class="blog menu-item">Blog</h2>
            </div>
          </div>
          <div class="contact-block menu-block">
            <div class="contact-block-container">
              <h2 class="contact menu-item">Contacta-Nos</h2>
            </div>
          </div>
        </div>
        {% include about.html %}
        {% include portfolio.html %}
        {% include blog.html %}
        {% include contact.html %}
      </div>
    </section>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.placeholder.min.js"></script>
    <script src="js/contact_me.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>